<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
    <h1> The number is :<%=some%>
    </h1>
    <% if(some % 2 === 0){ %>
        <h2> It is even number</h2> 
       
            <% } else if(some % 2 !== 0){ %>  
            <h2>it is odd number</h2> 
            <%  } %>     
</body>

</html>