div {
    text-align: center;
    word-spacing: 10px;
    font-size: 20px;
    background-color: black;
    color: white;
}

* {
    margin: 0px;

}

.color {
    background-color: cyan;
    color: black;
    font-size: 30px;
    font-weight: 900;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid red;
    border-radius: 30px;
}