<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>comments</h1>
    <ul>
        <%for(let c of comment){%>
            <li>
                <%=c.commentbyusser%>-<b>
                        <%=c.name%>
                    </b>
                    <a href="/comments/<%=c.id%>">details</a>
                    <a href="/comments/<%=c.id%>/edit">edit</a>

            </li>
            <%}%>

    </ul>
    <a href="/comments/new">make new request</a>
</body>

</html>