<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>forms</h1>
    <form action="/comments" method="post">
        <section>
            <label for="ussername">Enter ussername</label>
            <input type="
        text" name="name" id="ussername" placeholder="Enter ussername">
        </section>
        <section>
            <label for="comments">comments</label>
            <br>
            <textarea name="commentss" id="comments" cols="30" rows="5" placeholder="leave comment"></textarea>
        </section>
        <button>Submit</button>

    </form>
    <a href="/comments">See all comments</a>
</body>

</html>