<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show New comments</title>
</head>

<body>
    <h1>comment:<%=objectComment.id%>
    </h1>
    <p>
        <%=objectComment.commentbyusser%>-<b>
                <%=objectComment.name%>
            </b>
    </p>
    <a href="/comments">home</a>
    <a href="/comments/<%=objectComment.id%>/edit">edit comment</a>
</body>
</html>